# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Flask instance folder
instance/

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac files
.DS_Store

# JetBrains IDE
.idea/